# Deliverable 2. 
Create a Customer Travel Destinations Map

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/jessicadafler/Desktop/Challenge_6/world_weather_analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Georgetown,MY,5.41,100.34,84.20,78,20,5.82,few clouds
1,1,Frome,GB,51.23,-2.32,51.01,91,25,3.00,scattered clouds
2,2,Isla Mujeres,MX,21.23,-86.73,81.00,78,40,5.82,light rain
3,3,Lopatino,RU,52.62,45.81,30.45,98,100,10.16,overcast clouds
4,4,Sisimiut,GL,66.94,-53.67,18.63,91,100,21.61,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
18,18,Hobart,AU,-42.88,147.33,73.00,40,75,8.05,broken clouds
19,19,Goulburn,AU,-34.75,149.72,73.99,67,67,5.01,broken clouds
23,23,Cabo San Lucas,MX,22.89,-109.91,73.99,83,40,10.29,scattered clouds
34,34,Belmonte,BR,-15.86,-38.88,71.60,88,75,6.93,broken clouds
40,40,Puerto Ayora,EC,-0.74,-90.35,69.53,79,85,7.92,overcast clouds
46,46,Vilhena,BR,-12.74,-60.15,73.13,81,64,3.02,broken clouds
52,52,Babati,TZ,-4.22,35.75,68.41,79,56,3.85,broken clouds
58,58,Santa Isabel Do Rio Negro,BR,-0.41,-65.02,73.78,98,89,1.12,overcast clouds
60,60,Grootfontein,NaN,-19.57,18.12,72.63,26,7,7.25,clear sky
63,63,Rikitea,PF,-23.12,-134.97,73.99,64,100,4.05,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
preferred_cities_df.notnull().sum()

City_ID            102
City               102
Country            101
Lat                102
Lng                102
Max Temp           102
Humidity           102
Cloudiness         102
Wind Speed         102
Current Weather    102
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df_2 = preferred_cities_df.dropna()
preferred_cities_df_2.notnull().sum()
preferred_cities_df_2.info()
preferred_cities_df_2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 18 to 721
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City_ID          101 non-null    int64
 1   City             101 non-null    object
 2   Country          101 non-null    object
 3   Lat              101 non-null    float64
 4   Lng              101 non-null    float64
 5   Max Temp         101 non-null    float64
 6   Humidity         101 non-null    int64
 7   Cloudiness       101 non-null    int64
 8   Wind Speed       101 non-null    float64
 9   Current Weather  101 non-null    object
dtypes: float64(4), int64(3), object(3)
memory usage: 8.7+ KB

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
18,18,Hobart,AU,-42.88,147.33,73.00,40,75,8.05,broken clouds
19,19,Goulburn,AU,-34.75,149.72,73.99,67,67,5.01,broken clouds
23,23,Cabo San Lucas,MX,22.89,-109.91,73.99,83,40,10.29,scattered clouds
34,34,Belmonte,BR,-15.86,-38.88,71.60,88,75,6.93,broken clouds
40,40,Puerto Ayora,EC,-0.74,-90.35,69.53,79,85,7.92,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
18,Hobart,AU,73.00,broken clouds,-42.88,147.33,
19,Goulburn,AU,73.99,broken clouds,-34.75,149.72,
23,Cabo San Lucas,MX,73.99,scattered clouds,22.89,-109.91,
34,Belmonte,BR,71.60,broken clouds,-15.86,-38.88,
40,Puerto Ayora,EC,69.53,overcast clouds,-0.74,-90.35,
46,Vilhena,BR,73.13,broken clouds,-12.74,-60.15,
52,Babati,TZ,68.41,broken clouds,-4.22,35.75,
58,Santa Isabel Do Rio Negro,BR,73.78,overcast clouds,-0.41,-65.02,
60,Grootfontein,NaN,72.63,clear sky,-19.57,18.12,
63,Rikitea,PF,73.99,overcast clouds,-23.12,-134.97,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name
hotel_df["Hotel Name"].isnull()
clean_hotel_df = hotel_df
clean_hotel_df["Hotel Name"] = hotel_df["Hotel Name"].dropna()

In [10]:
clean_hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
18,Hobart,AU,73.00,broken clouds,-42.88,147.33,St Ives Hobart Accommodation Tasmania
19,Goulburn,AU,73.99,broken clouds,-34.75,149.72,Alpine Heritage Motel
23,Cabo San Lucas,MX,73.99,scattered clouds,22.89,-109.91,Hotel Tesoro Los Cabos
34,Belmonte,BR,71.60,broken clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
40,Puerto Ayora,EC,69.53,overcast clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
717,Abapo,BO,69.46,broken clouds,-18.83,-63.47,
718,Puerto Leguizamo,CO,70.75,broken clouds,-0.19,-74.78,la casona de juancho
719,Gambo,CF,69.49,overcast clouds,4.65,22.26,
720,Sao Felix Do Xingu,BR,70.97,scattered clouds,-6.64,-51.99,Apart Hotel Rio Xingu
721,Conceicao Do Araguaia,BR,72.81,scattered clouds,-8.26,-49.26,Tarumã Tropical Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))